            fieldset {
                border: none;
            }

            form {
                background-color: white;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border: none;
            }

            img {
                border-radius: 8px;
                max-width: 80%;
                height: auto;
            }

            table {
                border-collapse: separate;
                border-spacing: 0;
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
            }

            th,
            td {
                border-right: 1px solid #1a1a1a;
                border-bottom: 1px solid #1a1a1a;
                border-top: none;
                border-left: none;
                padding: 12px;
            }

            th {
                background-color: #1a1a1a;
                color: white;
                text-align: left;
                border-collapse: separate;

            }

            th:first-child {
                border-top-left-radius: 10px;
            }

            th:last-child {
                border-top-right-radius: 10px;
            }

            .moving-box {
                position: fixed;
                top: 0;
                left: 0;
                width: 0%;
                height: 30%;
                background-color: white;
                z-index: 1000;
            }

            .spacedpara {
                margin-bottom: 240px;
            }

            .navbar {
                position: fixed;
                top: -20px;
                left: 0;
                width: 100%;
                z-index: 1000;
            }

            .navbar ul {
                list-style-type: none;
                background-color: #1a1a1a;
                padding: 10px;
                overflow: clip;
            }

            .navbar a {
                color: white;
                text-decoration: none;
                padding: 25px 12px;
                display: block;
                text-align: center;
                font-size: 20px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
            }

            .navbar a:hover {
                background-color: #007bff;
                color: white;
                transition: 0.4s;
            }

            .navbar li {
                display: inline-block;
            }

            body {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                background-color: #f8f9fa;
                color: #333;
                margin: 0;
                padding: 0;
            }

            img {
                border-radius: 8px;
            }

            table,
            .moving-box {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border: #1a1a1a 1px solid;
            }

            th:last-child,
            td:last-child {
                border-right: none;
            }

            tr:last-child td {
                border-bottom: none;
            }

            .button {
                background-color: #1a1a1a;
                color: white;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 5px;
            }

            .button:hover {
                background-color: #007bff;
                transition: 0.4s;
            }

            .buttonreject {
                background-color: #1a1a1a;
                color: white;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 5px;
            }

            .buttonreject:hover {
                background-color: red;
                transition: 0.4s;
            }

            .customtextbox {
                font-family: Arial, Helvetica, sans-serif;
                padding: 4px 4px;
            }

            .navbar-brand {
                position: fixed;
                top: 30px;
                right: 110px;
                color: white;
                font-size: 24px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-decoration: none;
                z-index: 1001;
            }